<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 3 %><br />
  <%= f.link_to_remove "Remove this option" %>
</p>

