<p>
  <%= f.label :allowed_winners %><br />
  <%= f.text_field :allowed_winners %><br />
  <%= f.label :number %><br />
  <%= f.text_field :number %><br />
  <%= f.link_to_remove "Remove this round" %>
</p>


