<h1>Listing votables</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Votes per round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votables.each do |votable| %>
  <tr>
    <td><%= votable.name %></td>
    <td><%= votable.votes_per_round %></td>
    <td><%= link_to 'Show', votable %></td>
    <td><%= link_to 'Edit', edit_votable_path(votable) %></td>
    <td><%= link_to 'Destroy', votable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Votable', new_votable_path %>
